<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><i class="fa fa-home" style="font-size: 26px"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/test" id="btn-edit-user" data-toggle="modal" data-target="#userEditFromModal">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home" id="btn-books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/test" id="btn-users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn-logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row fixed-top" style="margin-top: 65px;">
        <div class="alert alert-success col-md-12" id="success-alert" align="center" style="display: none;"> 
            <strong>Success! </strong>
            <p style="display: inline;" id="message-success"></p>
        </div>
    </div>

    <div class="row" style="margin-top: 150px;">
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div style="text-align: center">
                <a id="btn-all" class="btn btn-primary" style="color: white;">All</a>
                <a id="btn-my-book" class="btn btn-primary" style="color: white;">My book</a> 
                <a id="btn-add" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="color: white;">Add</a> 
            </div>

            <div id="search-book">
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <input type="text" id="text-search" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <input type="button" id="btn-search" class="btn btn-primary" value="Search"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            <div id="body">
                <div style="margin-top: 10px;" align="center">
                    <p style="display: inline;">Size : </p>
                    <select id="size-books-response"class="custom-select" style="width: 70px;" onchange="onChangeSelect()">
                      <option value="3" selected>3</option>
                      <option value="6">6</option>
                      <option value="9">9</option>
                      <option value="12">12</option>
                    </select>

                    <p style="display: inline; margin-left: 10px;">Order by : </p>
                    <select id="sort-books-response"class="custom-select" style="width: 150px;" onchange="onChangeSelect()">
                      <option value="id" selected>id</option>
                      <option value="title">title</option>
                      <option value="author">author</option>
                      <option value="description">description</option>
                      <option value="enabled">enabled</option>
                    </select>

                    <select id="asc-desc-books-response"class="custom-select" style="width: 90px;" onchange="onChangeSelect()">
                      <option value="asc" selected>asc</option>
                      <option value="desc">desc</option>
                    </select>
                </div>

                <table id="books-list" style="display: none; margin-top: 20px;" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                </table>
                <div align="center"> <a id="load-more-books" class="btn btn-success" style="display: none; color: white;">Load more</a> </div>
                <div id="div-book-not-found" align="center" style="display: none">
                    <p style="font-size: 30px">Book not found</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">             
        </div>
    </div>

    <div class="modal" id="userEditFromModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="user-profile-form">
                        <div class="form-group">
                            <h2 style="text-align: center" id="form-title">User Edit</h2>
                        </div>      
                        <div class="alert alert-success" id="alert-success-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Success!</strong> <span id="success-message"></span>.
                            </p>
                        </div>
                        <div class="alert alert-danger" id="alert-error-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Danger!</strong> <span id="error-message"></span>.
                            </p>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Email:</label>
                            <input type="text" name="email" id="email" class="form-control" disabled="true" />
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">First name :</label>
                            <input type="text" name="firstName" id="firstName" class="form-control"/>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Last name :</label>
                            <input type="text" name="lastName" id="lastName" class="form-control"/>
                        </div>
                        <div class="form-check" style="margin-top: 10px;">
                            <label class="form-check-label">
                                <input type="checkbox" name="choiceChangePassword" id="checkbox-choice-change-password" value="false" class="form-check-input"> Change password
                            </label>
                        </div>
                        <div id="changing-password-form" style="display: none;">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-form-label">Password : </label>
                                <input type="password" name="password" id="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Confirm password : </label>
                                <input type="password" name="repassword" id="repassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px">
                            <input type="submit" name="submit" id="btn-action" value="submit" class="btn btn-primary form-control"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <!-- Modal bootstrap -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="book-form">
                        <div class="form-group">
                            <h2 style="text-align: center" id="form-title">Book Edit</h2>
                        </div>      
                        <div class="alert alert-success" id="alert-success-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Success!</strong> <span id="success-message"></span>.
                            </p>
                        </div>
                        <div class="alert alert-danger" id="alert-error-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Danger!</strong> <span id="error-message"></span>.
                            </p>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Title:</label>
                            <input type="text" name="title" id="title" class="form-control"/>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Author :</label>
                            <input type="text" name="author" id="author" class="form-control"/>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Description : </label>
                            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group" style="margin-top: 15px">
                            <input type="submit" name="submit" id="btn-action" value="submit" class="btn btn-primary form-control"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal" id="book-view-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">   
                            <!-- <h2>Title : </h2> -->
                            <h2 id="title-book-view"></h2>
                            <h4 id="author-book-view" style="font-size : 15px;"></h4>

                            <p id="description-book-view" style="margin-top: 10px;"></p>
                            <h2>Comment : </h2>
                            <div id="comments">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" name="comment" class="form-control" id="comment-input"/>
                                        <hr/>
                                    </div>
                                </div>
                                <div id="comments-list">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script>

        $('#btn-edit-user').click( function() {
            callUserGetApi();
        })

        function callUserGetApi() {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: window.location.origin + "/api/user/" + userId,
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    console.log("SUCCESS : ", dataReceive.object);
                    $("#email").val(dataReceive.object.email);
                    $("#firstName").val(dataReceive.object.firstName);
                    $("#lastName").val(dataReceive.object.lastName);

                    $("#user_profile_form").show();
                },
                error: function (e) {
                    console.log("ERROR : ", e.responseJSON.message);
                }
            });
        }

        function showAlert() {
            $("#success-alert").fadeTo(1000, 500).slideUp(500, function(){
                $("#success-alert").slideUp(500);
            });   
        }

        var hasSortOrSizeChanged = true;

        function onChangeSelect(){
            hasSortOrSizeChanged = true;
            pageOfPagingate = 0;
        }

        $("#load-more-books").click( function() {
            searchBooks();
        });
    </script>




    <style type="text/css">

        .header-comment-h6{
            font-size: 15px;
        }
        .name{
            color: #0275d8;
        }
        .message{
            font-size: 16px;
        }
        #comment-input{
            border-radius: 1.25rem;
        }

        .form-group {
            margin-bottom: 0px;
        }

        label.error {
            color: red;
            font-style: italic;
            font-size: 12px;
        }
    </style>

    <!-- search book -->
    <script>
        const BTN_BOOK_ALL_PRESSED = 1;
        const BTN_MY_BOOK_PRESSED = 2;

        var userId, urlRequestSearchBook, bookList, state, wordsSearch;

        var pageOfPagingate = 0;

        userId = [[${session.userLogin.id}]];
        urlRequestSearchBook = window.location.origin + "/api/books";

        $("#btn-all").click(function(){
           urlRequestSearchBook = window.location.origin + "/api/books";

            if(bookList.length > 0){
                showBooksResult(bookList);
            }
        });
        

        $("#btn-my-book").click(function(){
            urlRequestSearchBook = window.location.origin + "/api/user/" + userId + "/books";
            
            var booksListTemp = [];
            

            for(var bookIndex = 0; bookIndex < bookList.length; bookIndex++){
                if(bookList[bookIndex].userId == userId){
                    booksListTemp.push(bookList[bookIndex]);
                }
            }

            if(booksListTemp.length > 0){
                showBooksResult(booksListTemp);
            }
        });        

        $("#btn-search").click(function () {
            hasSortOrSizeChanged = true;
            pageOfPagingate = 0;
            searchBooks();
        });

        function searchBooks(){
            wordsSearch = $("#text-search").val();

            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: urlRequestSearchBook + "?page=" + pageOfPagingate + "&size=" + $("#size-books-response").val() + "&sort=" + $("#sort-books-response").val() + "," + $("#asc-desc-books-response").val(),
                headers : {"wordsSearch" : wordsSearch},
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    if(hasSortOrSizeChanged == true){
                        hasSortOrSizeChanged = false;
                        if(dataReceive.object.content.length === 0){
                            showMessageNotFound();
                        } else {
                            bookList = dataReceive.object.content;
                            showBooksResult(bookList);
                        }
                    } else {
                        for(var index = 0; index < dataReceive.object.content.length; index++){
                            bookList.push(dataReceive.object.content[index]);
                            showABookResult(dataReceive.object.content[index]);
                        }
                    }

                    if(dataReceive.object.last == false){
                        pageOfPagingate = pageOfPagingate + 1;
                        $("#load-more-books").show();
                    } else {
                        $("#load-more-books").hide();
                    }
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });
        }

        function showMessageNotFound(){
            $("#books-list").hide();
            $("#div-book-not-found").show();
        }

        function showBooksResult(books){
            $("#books-list").show();
            $("#div-book-not-found").hide();

            $("tbody").remove();

            table_books_list = document.getElementById("books-list");
            tbody = document.createElement("tbody");
            table_books_list.appendChild(tbody);

            var bookIndex;
            for(bookIndex = 0; bookIndex < books.length; bookIndex++){
                showABookResult(books[bookIndex]);
            }
        }

        function showABookResult(aBookResult){
            tr_a_book = document.createElement("tr");
            tbody.appendChild(tr_a_book);

            th_a_book_id = document.createElement("th");
            th_a_book_id.innerText = aBookResult.id;
            tr_a_book.appendChild(th_a_book_id);

            td_a_book_title = document.createElement("td");
            a_a_book_title = document.createElement("a");
            a_a_book_title.id = "title-" + aBookResult.id;
            a_a_book_title.innerText = aBookResult.title;
            a_a_book_title.setAttribute("data-toggle", "modal");
            a_a_book_title.setAttribute("href", "#book-view-modal");
            a_a_book_title.setAttribute("onClick", "onClickLinkBook(" + aBookResult.id + ")");
            td_a_book_title.appendChild(a_a_book_title);
            tr_a_book.appendChild(td_a_book_title);

            td_a_book_author = document.createElement("td");
            td_a_book_author.id = "author-" + aBookResult.id;
            td_a_book_author.innerText = aBookResult.author;
            tr_a_book.appendChild(td_a_book_author);

            td_a_book_status = document.createElement("td");
            td_a_book_status.setAttribute("align", "center");

            div_switch = document.createElement("div");
            div_switch.className = "switch";
            input_switch_status = document.createElement("input");
            input_switch_status.id = "status-book-" + aBookResult.id;
            input_switch_status.className = "cmn-toggle cmn-toggle-round-flat";
            input_switch_status.setAttribute("type", "checkbox");
            input_switch_status.setAttribute("onclick", "enableOrDisableBook(" + aBookResult.id + ")");
            if(aBookResult.enabled == true)
                input_switch_status.setAttribute("checked", "");

            div_switch.appendChild(input_switch_status);
            label_for_input_switch_status = document.createElement("label");
            label_for_input_switch_status.setAttribute("for", "status-book-" + aBookResult.id);
            div_switch.appendChild(label_for_input_switch_status);
            td_a_book_status.appendChild(div_switch);
            tr_a_book.appendChild(td_a_book_status);

            td_a_book_methods = document.createElement("td");
            td_a_book_methods.setAttribute("align", "center");
            
            button_edit = document.createElement("a");
            button_edit.setAttribute("data-toggle", "modal");
            button_edit.setAttribute("data-target", "#exampleModal");
            button_edit.className = "btn btn-primary btn-edit";
            button_edit.id = "btn-edit-" + userId;
            button_edit.innerText = "Edit";
            button_edit.style = "margin-right: 5px; color: white;";
            button_edit.setAttribute("onclick", "onClickEditButton(" + aBookResult.id  + ")");
            td_a_book_methods.appendChild(button_edit);
 
            tr_a_book.appendChild(td_a_book_methods);
        }

        var urlLockOrUnlockBookRequest;

        function enableOrDisableBook(bookId){
            for(var bookIndex = 0; bookIndex < bookList.length; bookIndex++){
                if(bookList[bookIndex].id == bookId){
                    callUpdateEnableOfBook(bookList[bookIndex], bookIndex);
                    break;
                }
            }
        }

        function callUpdateEnableOfBook(bookUpdateEnabled, bookIndex){
            if(bookUpdateEnabled.enabled == true){
                urlLockOrUnlockBookRequest = window.location.origin + "/api/book/" + bookUpdateEnabled.id + "/lock";
            } else {
                urlLockOrUnlockBookRequest = window.location.origin + "/api/book/" + bookUpdateEnabled.id + "/unlock";
            }

            $("#status-book-" + bookList[bookIndex].id).prop('disabled', true);

            $.ajax({
                type : "PUT",
                contentType: "application/json",
                url: urlLockOrUnlockBookRequest,
                data: null,
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    if(bookList[bookIndex].enabled == true){
                        bookList[bookIndex].enabled = false;
                        $("#message-success").text("Disable book successfully.");
                    } else {
                        bookList[bookIndex].enabled = true;
                        $("#message-success").text("Enable book successfully.");
                    }
                    $("#status-book-" + bookList[bookIndex].id).prop('checked', bookList[bookIndex].enabled);
                    showAlert();

                    $("#status-book-" + bookList[bookIndex].id).prop('disabled', false);

                    console.log("change enabled");
                },
                error: function (e) {
                    console.log("ERROR : " + dataReceive);
                    $("#status-book-" + bookList[bookIndex].id).prop('disabled', false);
                }
            });
        }

        function clearBookForm(){
            $("#title").val("");
            $("#author").val("");
            $("#description").val("");
        }

        $('#user-profile-form').submit(function(event) {
            event.preventDefault();

            callUserPostApi();
        });

        $('#checkbox-choice-change-password').change(function () {
            if ($("#checkbox-choice-change-password").is(":checked")) {
                $('#changing-password-form').show();
            } else {
                $('#changing-password-form').hide();
            }
        });

        function callUserPostApi(){

            var data;

            if ($("#checkbox-choice-change-password").is(":checked")){
                data = JSON.stringify({
                    "email" : this.email.value,
                    "firstName" : this.firstName.value,
                    "lastName" : this.lastName.value,
                    "password" : this.password.value
                });
            } else {
                data = JSON.stringify({
                    "email": this.email.value,
                    "firstName": this.firstName.value,
                    "lastName": this.lastName.value
                });
            }

            if($("#user-profile-form").valid()) {
                $.ajax({
                    type: "PUT",
                    contentType: "application/json",
                    url: window.location.origin + "/api/user/" + userId,
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (dataReceive) {
                        console.log("SUCCESS : ", dataReceive);
                        $("#message").text("Update user successfully");
                        $("#message-success").text("Edit user successfully");
                        $("#userEditFromModal").modal('hide');
                        showAlert();
                    },
                    error: function (e) {
                        console.log("ERROR : ", e.responseJSON.message);
                        $("#message").text(e.responseJSON.message);
                    }

                    //TODO : handle message when success and error
                });
            }
        }

    </script>

    <!-- add / edit book-->
    <script>
        const BTN_ADD_BOOK_PRESSED = 3;
        const BTN_EDIT_BOOK_PRESSED = 4;
        var dataRequest, urlRequestAddOrEditBook, typeRequest, bookIdEdit;        

        function onClickEditButton(bookId){
            $("#form-title").text("Edit book");
            $("#btn-action").val("Update");
            bookIdEdit = bookId;

            for(var bookIndex = 0; bookIndex < bookList.length; bookIndex++){
                if(bookList[bookIndex].id === bookId){
                    $("#title").val(bookList[bookIndex].title);
                    $("#author").val(bookList[bookIndex].author);
                    $("#description").val(bookList[bookIndex].description);
                    break;
                }
            }         

            state = BTN_EDIT_BOOK_PRESSED;
        }

        $("#btn-add").click( function (event) {
           $("#form-title").text("Create a new book");
           $("#btn-action").val("Create");
           state = BTN_ADD_BOOK_PRESSED;

           clearBookForm();
        });

        // code to submit book-form
        $("#book-form").submit(function(event) {
            event.preventDefault();

            dataRequest = JSON.stringify({
                "title" : this.title.value,
                "author" : this.author.value,
                "description" : this.description.value
            });

            switch(state){
                case BTN_ADD_BOOK_PRESSED : {
                    urlRequestAddOrEditBook = window.location.origin + "/api/book";
                    typeRequest = "POST";
                }
                break;

                case BTN_EDIT_BOOK_PRESSED : {
                    urlRequestAddOrEditBook = window.location.origin + "/api/book/" + bookIdEdit;
                    typeRequest = "PUT";
                }
                break;
            }
            
            if($("#book-form").valid()){
                $.ajax({
                    type : typeRequest,
                    contentType: "application/json",
                    url: urlRequestAddOrEditBook,
                    data: dataRequest,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (dataReceive) {
                        switch(state){
                            case BTN_ADD_BOOK_PRESSED : {
                                bookList.push(dataReceive.object);
                                showABookResult(dataReceive.object);
                                $("#message-success").text("Add new book successfully");
                                $("#exampleModal").modal('hide');
                                showAlert();
                            }
                            break;

                            case BTN_EDIT_BOOK_PRESSED : {
                                $("#title-" + dataReceive.object.id).text(dataReceive.object.title);
                                $("#autho-" + dataReceive.object.id).text(dataReceive.object.author);

                                for(var bookIndex = 0; bookIndex < bookList.length; bookIndex++){
                                    if(bookList[bookIndex].id === dataReceive.object.id){
                                        bookList[bookIndex].title = dataReceive.object.title;
                                        bookList[bookIndex].author = dataReceive.object.author;
                                        bookList[bookIndex].description = dataReceive.object.description;
                                    }
                                }

                                $("#message-success").text("Edit book successfully");
                                $("#exampleModal").modal('hide');
                                showAlert();
                            }
                            break;
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : " + dataReceive);
                    }
                });
            }
        });
        
        // validate book-form
        $(document).ready(function(s) {
            $("#book-form").validate({
                rules:{
                    title : {
                        required: true
                    },
                    author: {
                        required: true
                    }
                },
                messages :{
                    title : {
                        required: "Title is not empty"
                    },
                    author: {
                        required: "Author is not empty"
                    }
                }
            });
        });

        // code to search all books when website is loaded complete   
        document.addEventListener("DOMContentLoaded", function(){
            searchBooks();
        });
    </script>

    <!-- show book -->
    <script>

        var commentsList;

        function onClickLinkBook(bookId)
        {
            for(var bookIndex = 0; bookIndex < bookList.length; bookIndex++){
                if(bookList[bookIndex].id === bookId){
                    break;
                }
            }

            bookIdClicked = bookId;

            $("#title-book-view").text(bookList[bookIndex].title);
            $("#author-book-view").text(bookList[bookIndex].author);
            $("#description-book-view").text(bookList[bookIndex].description);

            $("#comments-list").empty();
            callGetAllComments(bookId);     
        }

        function addComment(comment){
            div_comment = document.getElementById("comments-list"); 

            div_row_add_comment = document.createElement("div");
            div_row_add_comment.className = "row";
            div_comment.appendChild(div_row_add_comment);

            div_col_lg_1 = document.createElement("div");
            div_col_lg_1.className = "col-lg-1";
            div_col_lg_1.innerText = "ava";
            div_row_add_comment.appendChild(div_col_lg_1);

            div_col_lg_11 = document.createElement("div");
            div_col_lg_11.className = "col-lg-11";
            div_row_add_comment.appendChild(div_col_lg_11);

            div_header_comment = document.createElement("div");
            div_header_comment.className = "header-comment";
            div_header_comment.style = "display : inline;";
            div_col_lg_11.appendChild(div_header_comment);

            h6_header_comment_h6 = document.createElement("h6");
            h6_header_comment_h6.className = "header-comment-h6";
            div_header_comment.appendChild(h6_header_comment_h6);

            div_name_time = document.createElement("div");

            a_name = document.createElement("a");
            a_name.className = "name";
            a_name.style="color: #007bff; font-size: 18px";
            a_name.innerText = comment.user.firstName + " " + comment.user.lastName;
            div_name_time.appendChild(a_name)

            a_time = document.createElement("a");
            a_time.className = "time"
            a_time.style="margin-left: 15px;";
            a_time.innerText = timeDifferenceWithNow(new Date(comment.updatedAt));
            div_name_time.appendChild(a_time);

            h6_header_comment_h6.appendChild(div_name_time);

            h4_message = document.createElement("h4");
            h4_message.className = "message";
            h4_message.innerText = comment.message;
            div_col_lg_11.appendChild(h4_message);

            hr = document.createElement("hr");
            div_col_lg_11.appendChild(hr);

        }

        function callGetAllComments(bookId){

            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: window.location.origin + "/api/book/" + bookId + "/comments",
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    commentsList = dataReceive.object.content;
                    
                    for(var index = 0; index < commentsList.length; index++){
                        addComment(commentsList[index]);
                    }

                    console.log(commentsList);
                },
                error: function (e) {
                    console.log("ERROR : ", e.responseJSON.message);
                }
            });
        }   

        // validation
        $(document).ready(function(s) {
            $("#user-profile-form").validate({
                highlight : 
                    function(element, errorClass) {
                        $(element).css("border-color", "#d9534f");
                    },
                unhighlight : 
                    function(element, errorClass) {
                        $(element).css("border-color", "#5cb85c");
                    },
                rules:{
                    email : {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    },
                    repassword: {
                        equalTo: "#password"
                    }
                },
                messages :{
                    email : {
                        required: "Email is not empty",
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    password: {
                        required: "Password is not empty"
                    },
                    repassword: {
                        equalTo: "Password does not match the confirm password"
                    }
                }
            });
        });
    </script>

    <!-- different time-->
    <script>
        function timeDifferenceWithNow(previous) {
    
            var msPerMinute = 60 * 1000;
            var msPerHour = msPerMinute * 60;
            var msPerDay = msPerHour * 24;
            var msPerMonth = msPerDay * 30;
            var msPerYear = msPerDay * 365;
            
            var elapsed = (new Date()) - previous;
            
            if (elapsed < msPerMinute) {
                 return Math.round(elapsed/1000) + ' seconds ago';   
            }
            
            else if (elapsed < msPerHour) {
                 return Math.round(elapsed/msPerMinute) + ' minutes ago';   
            }
            
            else if (elapsed < msPerDay ) {
                 return Math.round(elapsed/msPerHour ) + ' hours ago';   
            }

            else if (elapsed < msPerMonth) {
                 return 'approximately ' + Math.round(elapsed/msPerDay) + ' days ago';   
            }
            
            else if (elapsed < msPerYear) {
                 return 'approximately ' + Math.round(elapsed/msPerMonth) + ' months ago';   
            }
            
            else {
                 return 'approximately ' + Math.round(elapsed/msPerYear ) + ' years ago';   
            }
        }


    </script>

    <!-- add comment -->
    <script>
        var bookIdClicked;

        $("#comment-input").keyup(function(e){
        
            if(e.which == 13)
            {
                if($("#comment-input").val().trim().length > 0){
                    addCommentByBookId(bookIdClicked);
                }
            }
        
        });

        function addCommentByBookId(bookId){
            dataAddComment = JSON.stringify({
                "message" : $("#comment-input").val()
            });

            $.ajax({
                type : "POST",
                contentType: "application/json",
                url: window.location.origin + "/api/book/" + bookId + "/comment",
                data: dataAddComment,
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    addComment(dataReceive.object);
                    $("#comment-input").val("");
                },
                error: function (e) {
                    console.log("ERROR : " + dataReceive);
                }
            });
        }
    </script>

    <!-- logout -->
    <script>

        $("#btn-logout").click(function (event) {
           event.preventDefault();

           callLogoutAPI();
        });

        function callLogoutAPI(){

            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: window.location.origin + "/api/logout",
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    window.location.replace(window.location.origin + "/login");
                },
                error: function (e) {
                    console.log("ERROR : ", e.responseJSON.message);
                }
            });
        }             
    </script>

    <style>
        .cmn-toggle {
            position: absolute;
            margin-left: -9999px;
            visibility: hidden;
        }
        .cmn-toggle + label {
            display: block;
            position: relative;
            cursor: pointer;
            outline: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        input.cmn-toggle-round-flat + label {
            padding: 2px;
            width: 60px;
            height: 25px;
            background-color: #dddddd;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: background 0.4s;
            -moz-transition: background 0.4s;
            -o-transition: background 0.4s;
            transition: background 0.4s;
        }
        input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
            display: block;
            position: absolute;
            content: "";
        }
        input.cmn-toggle-round-flat + label:before {
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            background-color: #fff;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: background 0.4s;
            -moz-transition: background 0.4s;
            -o-transition: background 0.4s;
            transition: background 0.4s;
        }
        input.cmn-toggle-round-flat + label:after {
            top: 4px;
            left: 4px;
            bottom: 4px;
            width: 22px;
            background-color: #dddddd;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: margin 0.4s, background 0.4s;
            -moz-transition: margin 0.4s, background 0.4s;
            -o-transition: margin 0.4s, background 0.4s;
            transition: margin 0.4s, background 0.4s;
        }
        input.cmn-toggle-round-flat:checked + label {
            background-color: #8ce196;
        }
        input.cmn-toggle-round-flat:checked + label:after {
            margin-left: 30px;
            background-color: #8ce196;
        }
    </style>

</body>
</html>