<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><i class="fa fa-home" style="font-size: 26px"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home" id="btn-books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/test" id="btn-users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="btn-logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row fixed-top" style="margin-top: 65px;">
        <div class="alert alert-success col-md-12" id="success-alert" align="center" style="display: none;"> 
            <strong>Success! </strong>
            <p style="display: inline;" id="message-success"></p>
        </div>
    </div>

    <div class="row" style="margin-top: 150px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="search-book">
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <input type="text" id="text-search" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <input type="button" id="btn-search" class="btn btn-primary" value="Search"/>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            <div id="body">
                <div style="margin-top: 10px;" align="left">
                    <p style="display: inline;">Size : </p>
                    <select id="size-users-response"class="custom-select" style="width: 70px;" onchange="onChangeSelect()">
                      <option value="10" selected>10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                    </select>
                </div>

                <table id="users-list" style="display: none; margin-top: 20px;" class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" id="col-id">Id
                                <div class="arrow-group">
                                    <div class="arrow-up" id="arrow-up-col-id"></div>
                                    <div class="arrow-down" id="arrow-down-col-id"></div>
                                </div>
                            </th>
                            <th scope="col" id="col-email">Email
                                <div class="arrow-group">
                                    <div class="arrow-up" id="arrow-up-col-email"></div>
                                    <div class="arrow-down" id="arrow-down-col-email"></div>
                                </div>
                            </th>
                            <th scope="col" id="col-first-name">First name
                                <div class="arrow-group">
                                    <div class="arrow-up" id="arrow-up-col-first-name"></div>
                                    <div class="arrow-down" id="arrow-down-col-first-name"></div>
                                </div>
                            </th>
                            <th scope="col" id="col-last-name">Last name
                                <div class="arrow-group">
                                    <div class="arrow-up" id="arrow-up-col-last-name"></div>
                                    <div class="arrow-down" id="arrow-down-col-last-name"></div>
                                </div>
                            </th>
                            <th scope="col" id="col-status">Status
                                <div class="arrow-group">
                                    <div class="arrow-up" id="arrow-up-col-status"></div>
                                    <div class="arrow-down" id="arrow-down-col-status"></div>
                                </div>
                            </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                </table>
                <div id="div-user-not-found" align="center" style="display: none">
                    <p style="font-size: 30px">User not found</p>
                </div>

                <nav id="pagination-group"  aria-label="....">
                    <ul class="pagination">
                        <li class="page-item" id="pagination-first">
                            <a class="page-link" href="#">First</a>
                        </li>
                        <li class="page-item" id="pagination-previous">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item" id="pagination-left">
                            <a class="page-link" href="#" id="pagination-left-number">1</a>
                        </li>
                        <li class="page-item" id="pagination-middle">
                            <a class="page-link" href="#" id="pagination-middle-number">2</a>
                        </li>
                        <li class="page-item" id="pagination-right">
                            <a class="page-link" href="#" id="pagination-right-number">3</a>
                        </li>
                        <li class="page-item" id="pagination-next">
                            <a class="page-link" href="#">Next</a>
                        </li>      
                        <li class="page-item" id="pagination-last">
                            <a class="page-link" href="#">Last</a>
                        </li> 
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-2">             
        </div>
    </div>   

    <div class="modal" id="userEditFromModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="user-profile-form">
                        <div class="form-group">
                            <h2 style="text-align: center" id="form-title">User Edit</h2>
                        </div>      
                        <div class="alert alert-success" id="alert-success-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Success!</strong> <span id="success-message"></span>.
                            </p>
                        </div>
                        <div class="alert alert-danger" id="alert-error-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Danger!</strong> <span id="error-message"></span>.
                            </p>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Email:</label>
                            <input type="text" name="email" id="email" class="form-control" disabled="true" />
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">First name :</label>
                            <input type="text" name="firstName" id="firstName" class="form-control"/>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Last name :</label>
                            <input type="text" name="lastName" id="lastName" class="form-control"/>
                        </div>
                        <div class="form-check" style="margin-top: 10px;">
                            <label class="form-check-label">
                                <input type="checkbox" name="choiceChangePassword" id="checkbox-choice-change-password" value="false" class="form-check-input"> Change password
                            </label>
                        </div>
                        <div id="changing-password-form" style="display: none;">
                            <div class="form-group" style="margin-bottom: 0px;">
                                <label class="col-form-label">Password : </label>
                                <input type="password" name="password" id="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Confirm password : </label>
                                <input type="password" name="repassword" id="repassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px">
                            <input type="submit" name="submit" id="btn-action" value="submit" class="btn btn-primary form-control"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <style type="text/css">

        .header-comment-h6{
            font-size: 15px;
        }
        .name{
            color: #0275d8;
        }
        .message{
            font-size: 16px;
        }

        .form-group {
            margin-bottom: 0px;
        }

        label.error {
            color: red;
            font-style: italic;
            font-size: 12px;
        }
    </style>

    <style type="text/css">
        .arrow-group{
            float: right;
            display: inherit;
            margin-top: 8px;
        }

        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;          
            border-bottom: 5px solid white;
            margin-top: -2px;
        }

        .arrow-down {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid white;
            margin-top: 4px;
        }
    </style>

    <script type="text/javascript">
        const DEFAULT = 0 
        const ARROW_UP = 1;
        const ARROW_DOWN = 2;

        arrowColId = DEFAULT;
        arrowColEmail = DEFAULT;
        arrowColFirstName = DEFAULT;
        arrowColLastName = DEFAULT;
        arrowColStatus = DEFAULT;

        $("#col-id").click(function(){
            console.log("col-id");
            arrowColEmail = DEFAULT;
            arrowColFirstName = DEFAULT;
            arrowColLastName = DEFAULT;
            arrowColStatus = DEFAULT;
            arrowColId = chooseStateArrow(arrowColId);
            sortBooksResponse = "id";
            resetArrow();
            searchUsers($("#text-search").val());
        });

        $("#col-email").click(function(){
            console.log("col-email");
            arrowColId = DEFAULT;
            arrowColFirstName = DEFAULT;
            arrowColLastName = DEFAULT;
            arrowColStatus = DEFAULT;
            arrowColEmail = chooseStateArrow(arrowColEmail);  
            sortBooksResponse = "email";  
            resetArrow();
            searchUsers($("#text-search").val());
        });

        $("#col-first-name").click(function(){
            console.log("col-first-name");
            arrowColId = DEFAULT;
            arrowColEmail = DEFAULT;
            arrowColLastName = DEFAULT;
            arrowColStatus = DEFAULT;
            arrowColFirstName = chooseStateArrow(arrowColFirstName);
            sortBooksResponse = "firstName";
            resetArrow();
            searchUsers($("#text-search").val());
        });

        $("#col-last-name").click(function(){
            console.log("col-last-name");
            arrowColId = DEFAULT;
            arrowColEmail = DEFAULT;
            arrowColFirstName = DEFAULT;
            arrowColStatus = DEFAULT;
            arrowColLastName = chooseStateArrow(arrowColLastName);
            sortBooksResponse = "lastName";
            resetArrow();
            searchUsers($("#text-search").val());
        });

        $("#col-status").click(function(){
            console.log("col-status");
            arrowColId = DEFAULT;
            arrowColEmail = DEFAULT;
            arrowColFirstName = DEFAULT;
            arrowColLastName= DEFAULT;
            arrowColStatus = chooseStateArrow(arrowColStatus);
            sortBooksResponse = "enabled";
            resetArrow();
            searchUsers($("#text-search").val());
        });

        function chooseStateArrow(state){
            if(state === DEFAULT){
                ascDescBooksResponse = "asc";
                return ARROW_UP;
            }

            if(state == ARROW_UP){
                ascDescBooksResponse = "desc";
                return ARROW_DOWN;
            }

            if(state == ARROW_DOWN){
                ascDescBooksResponse = "asc";
                return ARROW_UP;
            }
        }

        function resetArrow(column){

            if(arrowColId === DEFAULT || arrowColId === ARROW_UP)
                $("#arrow-up-col-id").show();
            else
                $("#arrow-up-col-id").hide();

            if(arrowColId === DEFAULT || arrowColId === ARROW_DOWN)
                $("#arrow-down-col-id").show();
            else
                $("#arrow-down-col-id").hide();


            if(arrowColEmail === DEFAULT || arrowColEmail === ARROW_UP)
                $("#arrow-up-col-email").show();
            else
                $("#arrow-up-col-email").hide();

            if(arrowColEmail === DEFAULT || arrowColEmail === ARROW_DOWN)
                $("#arrow-down-col-email").show();
            else
                $("#arrow-down-col-email").hide();


            if(arrowColFirstName === DEFAULT || arrowColFirstName === ARROW_UP)
                $("#arrow-up-col-first-name").show();
            else
                $("#arrow-up-col-first-name").hide();

            if(arrowColFirstName === DEFAULT || arrowColFirstName === ARROW_DOWN)
                $("#arrow-down-col-first-name").show();
            else
                $("#arrow-down-col-first-name").hide();


            if(arrowColLastName === DEFAULT || arrowColLastName === ARROW_UP)
                $("#arrow-up-col-last-name").show();
            else
                $("#arrow-up-col-last-name").hide();

            if(arrowColLastName === DEFAULT || arrowColLastName === ARROW_DOWN)
                $("#arrow-down-col-last-name").show();
            else
                $("#arrow-down-col-last-name").hide();


            if(arrowColStatus === DEFAULT || arrowColStatus === ARROW_UP)
                $("#arrow-up-col-status").show();
            else
                $("#arrow-up-col-status").hide();

            if(arrowColStatus === DEFAULT || arrowColStatus === ARROW_DOWN)
                $("#arrow-down-col-status").show();
            else
                $("#arrow-down-col-status").hide();
        }
    </script>

    <script>
        var hasSortOrSizeChanged = true;

        function onChangeSelect(){
            hasSortOrSizeChanged = true;
            pageOfPagingate = 0;
            searchUsers($("#text-search").val());
        }
    </script>

    <!-- search book -->
    <script>     
      var userId = 1;          
      var urlRequestSearchUser = window.location.origin + "/api/users";
      var usersList;
      var pageOfPagingate = 0;

      function showAlert() {
        $("#success-alert").fadeTo(1000, 500).slideUp(500, function(){
            $("#success-alert").slideUp(500);
        });   
      }

      $("#btn-search").click(function () {
           wordsSearch = $("#text-search").val();
           hasSortOrSizeChanged = true;
           pageOfPagingate = 0;

          searchUsers(wordsSearch);
      });

        blockButtonPrevious = false;
        blockButtonNext = false;

        blockButtonFirst = false;
        blockButtonLast = false;

        sortBooksResponse = "id";
        ascDescBooksResponse = "asc";

      function searchUsers(wordsSearch){
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: urlRequestSearchUser + "?page=" + pageOfPagingate + "&size=" + $("#size-users-response").val() + "&sort=" + sortBooksResponse + "," + ascDescBooksResponse,
            headers : {"wordsSearch" : wordsSearch},
            dataType: 'json',
            timeout: 10000,
            success: function (dataReceive) {
                // if(hasSortOrSizeChanged == true){
                        // hasSortOrSizeChanged = false;
                    if(dataReceive.object.content.length === 0){
                        showMessageNotFound();
                    } else {
                        usersList = dataReceive.object.content;
                        showBooksResult(usersList);
                    }
                // } else {
                //     for(var userIndex = 0; userIndex < dataReceive.object.content.length; userIndex++){
                //         usersList.push(dataReceive.object.content[userIndex]);
                //         showAnUserResult(dataReceive.object.content[userIndex]);
                //     }
                // }   
                
                totalPages = dataReceive.object.totalPages;

                resetPaginationBar();

                    if(dataReceive.object.totalPages == 0)
                        $("#pagination-group").hide();
                    else 
                        $("#pagination-group").show();

                    if(dataReceive.object.totalPages == 1){
                        $("#pagination-left").hide();
                        $("#pagination-right").hide();
                        $("#pagination-middle-number").text("1");
                        $("#pagination-middle").addClass("active");
                    }

                    if(dataReceive.object.totalPages == 2){
                        if(dataReceive.object.first === true){
                            $("#pagination-left-number").text("1");
                            $("#pagination-left").addClass("active");
                            $("#pagination-middle-number").text("2");
                            $("#pagination-right").hide();
                        }

                        if(dataReceive.object.last === true){
                            $("#pagination-left").hide();
                            $("#pagination-middle-number").text("1");
                            $("#pagination-right-number").text("2");
                            $("#pagination-right").addClass("active");
                        }
                    }

                    if(dataReceive.object.totalPages == 3){
                        if(dataReceive.object.first === true){
                            $("#pagination-left").addClass("active");
                            $("#pagination-left-number").text("1");
                            $("#pagination-middle-number").text("2");
                            $("#pagination-right-number").text("3");
                        }

                        if(dataReceive.object.last === true){
                            $("#pagination-left-number").text("1");
                            $("#pagination-middle-number").text("2");
                            $("#pagination-right").addClass("active");
                            $("#pagination-right-number").text("3");
                        }

                        if(!(dataReceive.object.first === true || dataReceive.object.last === true)){
                            $("#pagination-left-number").text("1");
                            $("#pagination-middle").addClass("active");
                            $("#pagination-middle-number").text("2");                            
                            $("#pagination-right-number").text("3");
                        }
                    }

                    if(dataReceive.object.totalPages > 3){
                        if(dataReceive.object.first === true){
                            $("#pagination-left").addClass("active");
                            $("#pagination-left-number").text("1");
                            $("#pagination-middle-number").text("2");
                            $("#pagination-right-number").text("3");
                        }

                        if(dataReceive.object.last === true){
                            $("#pagination-left-number").text(dataReceive.object.totalPages - 2);
                            $("#pagination-middle-number").text(dataReceive.object.totalPages - 1);
                            $("#pagination-right").addClass("active");
                            $("#pagination-right-number").text(dataReceive.object.totalPages);
                        }

                        if(!(dataReceive.object.first === true || dataReceive.object.last === true)){
                            $("#pagination-left-number").text(dataReceive.object.number);
                            $("#pagination-middle").addClass("active");
                            $("#pagination-middle-number").text(dataReceive.object.number + 1);                            
                            $("#pagination-right-number").text(dataReceive.object.number + 2);
                        }
                    }

                    if(dataReceive.object.first === true){
                        $("#pagination-previous").addClass("disabled");
                        $("#pagination-first").addClass("disabled");
                        blockButtonPrevious = true;
                        blockButtonFirst = true;
                    }

                    if(dataReceive.object.last === true){
                        $("#pagination-next").addClass("disabled");
                        $("#pagination-last").addClass("disabled");
                        blockButtonNext = true;
                        blockButtonLast = true;
                    }

                    pageOfPagingate = dataReceive.object.number;

            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
      }  

        $("#pagination-first").click( function(){
            if(blockButtonFirst == true) return;
            pageOfPagingate = 0;
            searchUsers($("#text-search").val());
        });

        $("#pagination-previous").click( function(){
            if(blockButtonPrevious == true) return;
            pageOfPagingate = pageOfPagingate - 1;
            searchUsers($("#text-search").val());
        });

        $("#pagination-next").click( function(){
            if(blockButtonNext == true) return;
            pageOfPagingate = pageOfPagingate + 1;
            searchUsers($("#text-search").val());
        });

        $("#pagination-last").click( function(){
            if(blockButtonLast == true) return;
            pageOfPagingate = totalPages - 1;
            searchUsers($("#text-search").val());
        });

        $("#pagination-left").click( function(){
            pageOfPagingate = $("#pagination-left-number").text() - 1;
            searchUsers($("#text-search").val());
        });

        $("#pagination-middle").click( function(){
            pageOfPagingate = $("#pagination-middle-number").text() - 1;
            searchUsers($("#text-search").val());
        });

        $("#pagination-right").click( function(){
            pageOfPagingate = $("#pagination-right-number").text() - 1;
            searchUsers($("#text-search").val());
        });

        function resetPaginationBar(){
            blockButtonPrevious = false;
            blockButtonNext = false;
            blockButtonFirst = false;
            blockButtonLast = false;
            $("#pagination-first").show();
            $("#pagination-first").removeClass("disabled");
            $("#pagination-previous").show();
            $("#pagination-previous").removeClass("disabled");
            $("#pagination-left").show();
            $("#pagination-left").removeClass("active");
            $("#pagination-middle").show();
            $("#pagination-middle").removeClass("active");
            $("#pagination-right").show();
            $("#pagination-right").removeClass("active");
            $("#pagination-next").show();
            $("#pagination-next").removeClass("disabled");
            $("#pagination-last").show();
            $("#pagination-last").removeClass("disabled");
        }

      function showMessageNotFound(){
        $("#users-list").hide();
        $("#div-user-not-found").show();
      }

      function showBooksResult(books){
        $("#users-list").show();
        $("#div-book-not-found").hide();

        $("tbody").remove();

        table_users_list = document.getElementById("users-list");
        tbody = document.createElement("tbody");
        table_users_list.appendChild(tbody);

        var bookIndex;
        for(bookIndex = 0; bookIndex < books.length; bookIndex++){
            showAnUserResult(books[bookIndex]);
        }
      }

      function showAnUserResult(anUserResult){
        tr_an_user = document.createElement("tr");
        tbody.appendChild(tr_an_user);

        th_an_user_id = document.createElement("th");
        th_an_user_id.innerText = anUserResult.id;
        tr_an_user.appendChild(th_an_user_id);

        td_an_user_email = document.createElement("td");
        a_an_user_email = document.createElement("a");
        a_an_user_email.id = "email-" + anUserResult.id;
        a_an_user_email.innerText = anUserResult.email;
        a_an_user_email.setAttribute("data-toggle", "modal");
        a_an_user_email.setAttribute("href", "#book-view-modal");
        a_an_user_email.setAttribute("onClick", "onClickLinkBook(" + anUserResult.id + ")");
        td_an_user_email.appendChild(a_an_user_email);
        tr_an_user.appendChild(td_an_user_email);

        td_an_user_first_name = document.createElement("td");
        td_an_user_first_name.id = "first-name-" + anUserResult.id;
        td_an_user_first_name.innerText = anUserResult.firstName;
        tr_an_user.appendChild(td_an_user_first_name);

        td_an_user_last_name = document.createElement("td");
        td_an_user_last_name.id = "last-name-" + anUserResult.id;
        td_an_user_last_name.innerText = anUserResult.lastName;
        tr_an_user.appendChild(td_an_user_last_name);

        td_an_user_status = document.createElement("td");
        td_an_user_status.setAttribute("align", "center");

        div_switch = document.createElement("div");
        div_switch.className = "switch";
        input_switch_status = document.createElement("input");
        input_switch_status.id = "status-user-" + anUserResult.id;
        input_switch_status.className = "cmn-toggle cmn-toggle-round-flat";
        input_switch_status.setAttribute("type", "checkbox");
        input_switch_status.setAttribute("onClick", "onClickButtonSwitchStatus(" + anUserResult.id + ")");
        if(anUserResult.enabled == true)
            input_switch_status.setAttribute("checked", "");

        div_switch.appendChild(input_switch_status);
        label_for_input_switch_status = document.createElement("label");
        label_for_input_switch_status.setAttribute("for", "status-user-" + anUserResult.id);
        div_switch.appendChild(label_for_input_switch_status);
        td_an_user_status.appendChild(div_switch);
        tr_an_user.appendChild(td_an_user_status);

        td_an_user_methods = document.createElement("td");
        td_an_user_methods.setAttribute("align", "center");
        
        button_edit = document.createElement("a");
        button_edit.setAttribute("data-toggle", "modal");
        button_edit.setAttribute("data-target", "#userEditFromModal");
        button_edit.className = "btn btn-primary btn-edit";
        button_edit.id = "btn-edit-" + userId;
        button_edit.innerText = "Edit";
        button_edit.style = "margin-right: 5px; color: white;";
        button_edit.setAttribute("onclick", "onClickEditUserButton(" + anUserResult.id  + ")");
        td_an_user_methods.appendChild(button_edit);

        tr_an_user.appendChild(td_an_user_methods);
      }    

      function onClickButtonSwitchStatus(anUserResultId){
        for(var userIndex = 0; userIndex < usersList.length; userIndex++){
          if(usersList[userIndex].id == anUserResultId){
            callPutChangeStatusUser(anUserResultId, userIndex);
            break;
          }
        }
        
      }

      function callPutChangeStatusUser(anUserResultId, userIndex){
        urlRequestChangeStatusUser = window.location.origin + "/api/user/" + anUserResultId;

        if(usersList[userIndex].enabled == true)
          urlRequestChangeStatusUser = urlRequestChangeStatusUser + "/lock";
        else 
          urlRequestChangeStatusUser = urlRequestChangeStatusUser + "/unlock";

        $("#status-user-" + anUserResultId).prop("disabled", true);

        $.ajax({
          type : "PUT",
          contentType: "application/json",
          url: urlRequestChangeStatusUser,
          dataType: 'json',
          timeout: 10000,
          success: function (dataReceive){
              if(usersList[userIndex].enabled == true){
                $('#message-success').text("Lock user successfully.");
                usersList[userIndex].enabled = false;
              } else {
                $('#message-success').text("Unlock user successfully.");
                usersList[userIndex].enabled = true;
              }

            $("#status-user-" + usersList[userIndex].id).prop("checked", usersList[userIndex].enabled);
            showAlert();
            $("#status-user-" + usersList[userIndex].id).prop("disabled", false);
          },
          error: function(e){
            console.log("ERROR : ", e);
            $("#status-user-" + anUserResultId).prop("disabled", false);
          }
        });
      }

      var userIdPost;

      function onClickEditUserButton(userId){
        userIdPost = userId;
        getUser(userId);
      }      

      $('#checkbox-choice-change-password').change(function () {
          if ($("#checkbox-choice-change-password").is(":checked")) {
              $('#changing-password-form').show();
          } else {
              $('#changing-password-form').hide();
          }
      });

      $('#user-profile-form').submit(function(event) {
          event.preventDefault();

          callUserPostApi();
      });

      function getUser(userId){
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: window.location.origin + "/api/user/" + userId, 
            dataType: 'json',
            timeout: 10000,
            success: function (dataReceive) {
                $("#email").val(dataReceive.object.email);
                $("#firstName").val(dataReceive.object.firstName);
                $("#lastName").val(dataReceive.object.lastName);
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
      }

      function callUserPostApi(){
        var dataEditUser;

        if ($("#checkbox-choice-change-password").is(":checked")){
            dataEditUser = JSON.stringify({
                "firstName" : this.firstName.value,
                "lastName" : this.lastName.value,
                "password" : this.password.value
            });
        } else {
            dataEditUser = JSON.stringify({
                "firstName": this.firstName.value,
                "lastName": this.lastName.value
            });
        }

        if($("#user-profile-form").valid()) {
            $.ajax({
                type: "PUT",
                contentType: "application/json",
                url: window.location.origin + "/admin/api/user/" + userIdPost,
                data: dataEditUser,
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    for(var userIndex = 0; userIndex < usersList.length; userIndex++){
                      if(usersList[userIndex].id == userIdPost){
                        usersList[userIndex].firstName = $("#firstName").val();
                        usersList[userIndex].lastName = $("#lastName").val();
                        $("#first-name-" + userIdPost).text(usersList[userIndex].firstName);
                        $("#last-name-" + userIdPost).text(usersList[userIndex].lastName);
                        $('#message-success').text("Edit user successfully.");
                        showAlert();
                        $("#userEditFromModal").modal('hide');
                      }
                    }

                    $("#message").text("Update user successfully");
                },
                error: function (e) {
                    console.log("ERROR : ", e.responseJSON.message);
                    $("#message").text(e.responseJSON.message);
                }

                //TODO : handle message when success and error
            });
        }
      }

      // validation
        $(document).ready(function(s) {
          $("#user-profile-form").validate({
              highlight : 
                  function(element, errorClass) {
                      $(element).css("border-color", "#d9534f");
                  },
              unhighlight : 
                  function(element, errorClass) {
                      $(element).css("border-color", "#5cb85c");
                  },
              rules:{
                  email : {
                      required: true,
                      email: true
                  },
                  password: {
                      required: true
                  },
                  repassword: {
                      equalTo: "#password"
                  }
              },
              messages :{
                  email : {
                      required: "Email is not empty",
                      email: "Your email address must be in the format of name@domain.com"
                  },
                  password: {
                      required: "Password is not empty"
                  },
                  repassword: {
                      equalTo: "Password does not match the confirm password"
                  }
              }
          });
        });

      document.addEventListener("DOMContentLoaded", function(){
        searchUsers("");
      });
    </script>

    <!-- logout -->
    <script>

        $("#btn-logout").click(function (event) {
           event.preventDefault();

           callLogoutAPI();
        });

        function callLogoutAPI(){

            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: window.location.origin + "/api/logout",
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    window.location.replace(window.location.origin + "/login");
                },
                error: function (e) {
                    console.log("ERROR : ", e.responseJSON.message);
                }
            });
        }             
    </script>

    <style>
        .cmn-toggle {
            position: absolute;
            margin-left: -9999px;
            visibility: hidden;
        }
        .cmn-toggle + label {
            display: block;
            position: relative;
            cursor: pointer;
            outline: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        input.cmn-toggle-round-flat + label {
            padding: 2px;
            width: 60px;
            height: 25px;
            background-color: #dddddd;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: background 0.4s;
            -moz-transition: background 0.4s;
            -o-transition: background 0.4s;
            transition: background 0.4s;
        }
        input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
            display: block;
            position: absolute;
            content: "";
        }
        input.cmn-toggle-round-flat + label:before {
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            background-color: #fff;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: background 0.4s;
            -moz-transition: background 0.4s;
            -o-transition: background 0.4s;
            transition: background 0.4s;
        }
        input.cmn-toggle-round-flat + label:after {
            top: 4px;
            left: 4px;
            bottom: 4px;
            width: 22px;
            background-color: #dddddd;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            border-radius: 50px;
            -webkit-transition: margin 0.4s, background 0.4s;
            -moz-transition: margin 0.4s, background 0.4s;
            -o-transition: margin 0.4s, background 0.4s;
            transition: margin 0.4s, background 0.4s;
        }
        input.cmn-toggle-round-flat:checked + label {
            background-color: #8ce196;
        }
        input.cmn-toggle-round-flat:checked + label:after {
            margin-left: 30px;
            background-color: #8ce196;
        }
    </style>

</body>
</html>