<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Book Edit</title>
    </head>
    <body>

        <button type="button" id="btnEdit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
        <button type="button" id="btnAdd" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</button>
        

        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="login-form">
                            <div class="form-group">
                                <h2 style="text-align: center" id="form-title">Book Edit</h2>
                            </div>      
                            <div class="alert alert-success" id="alert-success-message" style="display: none;">
                                <p style="text-align: center; margin-bottom: 0px;">
                                    <strong>Success!</strong> <span id="success-message"></span>.
                                </p>
                            </div>
                            <div class="alert alert-danger" id="alert-error-message" style="display: none;">
                                <p style="text-align: center; margin-bottom: 0px;">
                                    <strong>Danger!</strong> <span id="error-message"></span>.
                                </p>
                            </div>
                            <div class="from-group">
                                <label class="col-form-label">Title:</label>
                                <input type="text" name="title" id="title" class="form-control"/>
                            </div>
                            <div class="from-group">
                                <label class="col-form-label">Author :</label>
                                <input type="text" name="author" id="author" class="form-control"/>
                            </div>
                            <div class="from-group">
                                <label class="col-form-label">Description : </label>
                                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                            </div>
                            <div class="form-group" style="margin-top: 15px">
                                <input type="submit" name="submit" id="btn-action" class="btn btn-primary form-control"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style>
            .error {
                color : red;
                font-style: italic;
                font-size: 14px;
            }
        </style>

        <script>

            $("#btnEdit").click(function (event){
                $("#formTitle").text("Edit book");
                $("#btnSave").text("Update");
            });

            $("#btnAdd").click(function (event) {
               $("#formTitle").text("Create a new book");
               $("#btnSave").text("Create");
            });

            $(document).ready(function(s) {
                $("#book-form").validate({
                    rules:{
                        title : {
                            required: true,
                        },
                        author: {
                            required: true,
                        }
                    },
                    messages :{
                        title : {
                            required: "Title is not empty",
                        },
                        author: {
                            required: "Author is not empty",
                        }
                    }
                });


            });

        </script>

    </body>
</html>