<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><i class="fa fa-home" style="font-size: 26px"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal" id="btn-sign-up">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal" id="btn-sign-in">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="alert alert-success" id="alert-success-message" style="display: none; margin-top: 65px;">
        <p style="text-align: center; margin-bottom: 0px;">
            <strong>Success!</strong> You have successfully signed up as a user.
        </p>
    </div>


    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login-form">
                        <div class="form-group">
                            <h2 style="text-align: center" id="form-title">Please Login</h2>
                        </div>                              
                        <div class="alert alert-danger" id="alert-error-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Danger!</strong> <span id="error-message"></span>.
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email : </label>
                            <input type="text" name="email" id="email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password : </label>
                            <input type="password" name="password" id="password" class="form-control"/>
                        </div>
                        <div class="form-group" id="group-repassword">
                            <label class="col-form-label">Comfirm password : </label>
                            <input type="password" name="repassword" id="re-password" class="form-control"/>
                        </div>
                        <div class="form-group" id="group-first-name">
                            <label class="col-form-label" >First name : </label>
                            <input type="text" name="firstName" id="first-name" class="form-control"/>
                        </div>
                        <div class="form-group" id="group-last-name">
                            <label class="col-form-label">Last name : </label>
                            <input type="text" name="lastName" id="last-name" class="form-control"/>
                        </div>
                        <div class="form-group" style="margin-top: 15px">
                            <input type="submit" name="submit" id="btn-action" class="btn btn-primary form-control"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link src="/resources/css/login.css" rel="stylesheet" style="text/css">

    <script src="/resources/js/login.js"></script> 
</body>
</html>