<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p id="message"></p>
    <div class="container">
        <form id="login-form" class="form-horizontal">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 style="text-align: center">Please Login</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Email : </label>
                        <input type="text" name="email" id="email" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Password : </label>
                        <input type="password" name="password" id="password" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" name="submit" value="Login" class="form-control btn btn-primary"/>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(s) {
            $("#login-form").validate({
                rules:{
                    email : {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                messages:{
                    email : {
                        required: "Email is not empty",
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    password: {
                        required: "Password is not empty"
                    }
                }
            });


        });

        $("#login-form").submit(function(event) {
            event.preventDefault();

            var data = JSON.stringify({
                "email" : this.email.value,
                "password" : this.password.value,
            });

            if($("#login-form").valid() ) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: window.location.origin + "/api/login",
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (data) {
                        console.log(data);
                        if(data.name == "ADMIN"){
                            window.location.replace(window.location.origin + "/admin/home");
                        } else {
                            window.location.replace(window.location.origin + "/user/home");
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                        $("#message").text(e);
                    }

                    //TODO : handle message when success and error
                });
            }
        })
    </script>
</body>
</html>