<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p id="message"></p>
    <form id="registration-form">
        <label>username</label>
        <input type="text" name="email" id="email"/> <br/>
        <label>password</label>
        <input type="password" name="password" id="password"/> <br/>
        <label>confirm password</label>
        <input type="password" name="repassword" id="repassword"/> <br/>
        <label>firstname</label>
        <input type="text" name="firstName" id="firstName"/> <br/>
        <label>lastname</label>
        <input type="text" name="lastName" id="lastName"/> <br/>
        <input type="submit" id="submit" name="sumbit" value="Sign up"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

    <script>
        $(document).ready(function(s) {
            $("#registration-form").validate({
                rules:{
                    email : {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    },
                    repassword: {
                        equalTo: "#password"
                    }
                },
                messages:{
                    email : {
                        required: "Email is not empty",
                        email: "Your email address must be in the format of name@domain.com",
                    },
                    password: {
                        required: "Password is not empty"
                    },
                    repassword: {
                        equalTo: "Password does not match the confirm password"
                    }
                },
            });


        });

        $("#registration-form").submit(function(event) {
            event.preventDefault();

            var data = JSON.stringify({
                "email" : this.email.value,
                "password" : this.password.value,
                "firstName" : this.firstName.value,
                "lastName" : this.lastName.value
            });

            if($("#registration-form").valid()) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/api/registration",
                    data: data,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (data) {
                        console.log("SUCCESS : ", data);
                        $("#message").text("Create new user successfully");
                    },
                    error: function (e) {
                        console.log("ERROR : ", e.responseJSON.message);
                        $("#message").text(e.responseJSON.message);
                    }

                    //TODO : handle message when success and error
                });
            }
        })



    </script>
</body>
</html>

