<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User home</title>
</head>
<body>
    <style>
        /*table {*/
            /*width: 100%;*/
            /*border-collapse: collapse;*/
        /*}*/

        /*table, th, td {*/
            /*border: 1px solid black;*/
        /*}*/
    </style>

    <div class="container">
        <div style="text-align: center">
            <a id="btnAll" class="btn btn-primary">All</a>
            <a id="btnMyBook" class="btn btn-primary">My book</a>
        </div>


        <div id="search_book">
            <input type="text" id="text_search"/>
            <button id="button_search">Searchd</button>
        </div>

        <div id="body">
            <table id="books_list" style="display: none" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Updated at</th>
                    </tr>
                </thead>
            </table>
            <div id="div_book_not_found" style="display: none">
                <p>Book not found</p>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        var url = window.location.origin + "/api/book";
        var wordsSearch;
        var userId = [[${session.userLogin.id}]];

        $("#btnAll").click(function(){
           url = window.location.origin + "/api/book";
        });

        $("#btnMyBook").click(function(){
            url = window.location.origin + "/api/user/" + userId + "/book";
        });

        $("#button_search").click(function () {
             wordsSearch = $("#text_search").val();

            searchBooks(wordsSearch);
        });

        function searchBooks(wordsSearch){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: url + "?wordsSearch=" + wordsSearch,
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    if(dataReceive.length == 0){
                        showMessageNotFound();
                    } else {
                        showBooksResult(dataReceive);
                    }
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });
        }

        function showMessageNotFound(){
            $("#books_list").hide();
            $("#div_book_not_found").show();
        }

        function showBooksResult(dataReceive){
            $("#books_list").show();
            $("#div_book_not_found").hide();

            $("tbody").remove();

            table_books_list = document.getElementById("books_list");
            tbody = document.createElement("tbody");
            table_books_list.appendChild(tbody);

            var bookIndex;
            for(bookIndex = 0; bookIndex < dataReceive.length; bookIndex++){
                tr_a_book = document.createElement("tr");
                tbody.appendChild(tr_a_book);

                th_a_book_id = document.createElement("th");
                // td_a_book_id.className = "td_a_book_id";
                // td_a_book_id.id = "td_a_book_id_" + bookIndex;
                th_a_book_id.innerText = dataReceive[bookIndex].id;
                tr_a_book.appendChild(th_a_book_id);

                td_a_book_title = document.createElement("td");
                // td_a_book_title.className = "td_a_book_title";
                // td_a_book_title.id = "td_a_book_title_" + bookIndex;
                td_a_book_title.innerText = dataReceive[bookIndex].title;
                tr_a_book.appendChild(td_a_book_title);

                td_a_book_author = document.createElement("td");
                // td_a_book_author.className = "td_a_book_author";
                // td_a_book_author.id = "td_a_book_author_" + bookIndex;
                td_a_book_author.innerText = dataReceive[bookIndex].author;
                tr_a_book.appendChild(td_a_book_author);

                td_a_book_created_at = document.createElement("td");
                // td_a_book_created_at.className = "td_a_book_created_at";
                // td_a_book_created_at.id = "td_a_book_created_at_" + bookIndex;
                td_a_book_created_at.innerText = dataReceive[bookIndex].createdAt;
                tr_a_book.appendChild(td_a_book_created_at);

                td_a_book_updated_at = document.createElement("td");
                // td_a_book_updated_at.className = "td_a_book_updated_at";
                // td_a_book_updated_at.id = "td_a_book_updated_at_" + bookIndex;
                td_a_book_updated_at.innerText = dataReceive[bookIndex].updatedAt;
                tr_a_book.appendChild(td_a_book_updated_at);
            }
        }

        document.addEventListener("DOMContentLoaded", function(){
            searchBooks("");
        });
    </script>
</body>
</html>