<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><i class="fa fa-home" style="font-size: 26px"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" id="btnLogout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="body container" style="margin-top: 100px;">
        <div style="text-align: center">
            <a id="btnAll" class="btn btn-primary">All</a>
            <a id="btnMyBook" class="btn btn-primary">My book</a>
            <a id="btnEdit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</a>
            <a id="btnAdd" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</a>
        </div>


        <div id="search_book">
            <div class="form-group row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <input type="text" id="text_search" class="form-control" />
                </div>
                <div class="col-md-1">
                    <input type="button" id="button_search" class="btn btn-primary" value="Search"/>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <div id="body">
            <table id="books_list" style="display: none" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Updated at</th>
                    </tr>
                </thead>
            </table>
            <div id="div_book_not_found" style="display: none">
                <p>Book not found</p>
            </div>
        </div>
    </div>


    <!-- Modal bootstrap -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="book-form">
                        <div class="form-group">
                            <h2 style="text-align: center" id="form-title">Book Edit</h2>
                        </div>      
                        <div class="alert alert-success" id="alert-success-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Success!</strong> <span id="success-message"></span>.
                            </p>
                        </div>
                        <div class="alert alert-danger" id="alert-error-message" style="display: none;">
                            <p style="text-align: center; margin-bottom: 0px;">
                                <strong>Danger!</strong> <span id="error-message"></span>.
                            </p>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Title:</label>
                            <input type="text" name="title" id="title" class="form-control"/>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Author :</label>
                            <input type="text" name="author" id="author" class="form-control"/>
                        </div>
                        <div class="from-group">
                            <label class="col-form-label">Description : </label>
                            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group" style="margin-top: 15px">
                            <input type="submit" name="submit" id="btn-action" value="submit" class="btn btn-primary form-control"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <div class="modal" id="bookViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Title : </h2>
                    <p id="titleBookView"></p>
                    <h2>Author : </h2>
                    <p id="authorBookView"></p>
                    <h2>Description : </h2>
                    <p id="descriptionBookView"></p>
                </div>
            </div>
        </div>
    </div> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style type="text/css">
        .form-group {
            margin-bottom: 0px;
        }

        label.error {
            color: red;
            font-style: italic;
            font-size: 12px;
        }
    </style>

    <script>
        const BTN_ADD_BOOK_PRESSED = 3;
        const BTN_EDIT_BOOK_PRESSED = 4;

        var dataRequest, state, urlRequest, typeRequest, bookList, wordsSearch;
        var userId = [[${session.userLogin.id}]];
        var urlRequestSearchBook = window.location.origin + "/api/book";

        $("#btnAll").click(function(){
           urlRequestSearchBook = window.location.origin + "/api/book";
        });

        $("#btnMyBook").click(function(){
            urlRequestSearchBook = window.location.origin + "/api/user/" + userId + "/book";
        });

        $("#button_search").click(function () {
             wordsSearch = $("#text_search").val();

            searchBooks(wordsSearch);
        });

        function searchBooks(wordsSearch){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: urlRequestSearchBook + "?wordsSearch=" + wordsSearch,
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    if(dataReceive.length == 0){
                        showMessageNotFound();
                    } else {
                        showBooksResult(dataReceive);
                    }
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });
        }

        function showMessageNotFound(){
            $("#books_list").hide();
            $("#div_book_not_found").show();
        }

        function showBooksResult(dataReceive){
            bookList = dataReceive;
            $("#books_list").show();
            $("#div_book_not_found").hide();

            $("tbody").remove();

            table_books_list = document.getElementById("books_list");
            tbody = document.createElement("tbody");
            table_books_list.appendChild(tbody);

            var bookIndex;
            for(bookIndex = 0; bookIndex < dataReceive.length; bookIndex++){
                tr_a_book = document.createElement("tr");
                tbody.appendChild(tr_a_book);

                th_a_book_id = document.createElement("th");
                // td_a_book_id.className = "td_a_book_id";
                // td_a_book_id.id = "td_a_book_id_" + bookIndex;
                th_a_book_id.innerText = dataReceive[bookIndex].id;
                tr_a_book.appendChild(th_a_book_id);

                td_a_book_title = document.createElement("td");
                a_a_book_title = document.createElement("a");
                a_a_book_title.id = bookIndex;
                a_a_book_title.innerText = dataReceive[bookIndex].title;
                a_a_book_title.setAttribute("data-toggle", "modal");
                a_a_book_title.setAttribute("href", "#bookViewModal");
                a_a_book_title.setAttribute("onClick", "onClickLinkBook(this.id)");
                td_a_book_title.appendChild(a_a_book_title);
                tr_a_book.appendChild(td_a_book_title);

                td_a_book_author = document.createElement("td");
                // td_a_book_author.className = "td_a_book_author";
                // td_a_book_author.id = "td_a_book_author_" + bookIndex;
                td_a_book_author.innerText = dataReceive[bookIndex].author;
                tr_a_book.appendChild(td_a_book_author);

                td_a_book_created_at = document.createElement("td");
                // td_a_book_created_at.className = "td_a_book_created_at";
                // td_a_book_created_at.id = "td_a_book_created_at_" + bookIndex;
                td_a_book_created_at.innerText = dataReceive[bookIndex].createdAt;
                tr_a_book.appendChild(td_a_book_created_at);

                td_a_book_updated_at = document.createElement("td");
                // td_a_book_updated_at.className = "td_a_book_updated_at";
                // td_a_book_updated_at.id = "td_a_book_updated_at_" + bookIndex;
                td_a_book_updated_at.innerText = dataReceive[bookIndex].updatedAt;
                tr_a_book.appendChild(td_a_book_updated_at);
            }
        }

        function onClickLinkBook(bookIndex)
        {
            $("#titleBookView").text(bookList[bookIndex].title);
            $("#authorBookView").text(bookList[bookIndex].author);
            $("#descriptionBookView").text(bookList[bookIndex].description);
        }

        $("#btnEdit").click( function (event){
            $("#form-title").text("Edit book");
            $("#btn-action").val("Update");
            urlRequest = window.location.origin + "/api/book/1";
            state = BTN_EDIT_BOOK_PRESSED;
            typeRequest = "PUT";
        });

        $("#btnAdd").click( function (event) {
           $("#form-title").text("Create a new book");
           $("#btn-action").val("Create");
           urlRequest = window.location.origin + "/api/book";
           state = BTN_ADD_BOOK_PRESSED;
           typeRequest = "POST";
        });

        // code to submit book-form
        $("#book-form").submit(function(event) {
            event.preventDefault();

            if(state == BTN_ADD_BOOK_PRESSED || state == BTN_EDIT_BOOK_PRESSED){
                dataRequest = JSON.stringify({
                    "title" : this.title.value,
                    "author" : this.author.value,
                    "description" : this.description.value,
                    "user_id" : userId
                });
            }
            
            if($("#book-form").valid()){
                $.ajax({
                    type : typeRequest,
                    contentType: "application/json",
                    url: urlRequest,
                    data: dataRequest,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (dataReceive) {
                        console.log("SUCCESS : " + dataReceive);
                    },
                    error: function (e) {
                        console.log("ERROR : " + dataReceive);
                    }
                });
            }
        });
        
        // validate book-form
        $(document).ready(function(s) {
            $("#book-form").validate({
                rules:{
                    title : {
                        required: true,
                    },
                    author: {
                        required: true,
                    }
                },
                messages :{
                    title : {
                        required: "Title is not empty",
                    },
                    author: {
                        required: "Author is not empty",
                    }
                }
            });
        });

        $("#btnLogout").click(function (event) {
           event.preventDefault();

           callLogoutAPI();
        });

        function callLogoutAPI(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: window.location.origin + "/api/logout",
                dataType: 'json',
                timeout: 10000,
                success: function (dataReceive) {
                    window.location.replace(window.location.origin + "/login");
                },
                error: function (e) {
                    console.log("ERROR : ", e.responseJSON.message);
                }
            });
        }

        // code to search all books when website is loaded complete
        document.addEventListener("DOMContentLoaded", function(){
            searchBooks("");
        });
    </script>
</body>
</html>